[bumpversion]
current_version = 1.5.0
files = ./pyproject.toml ./click_extra/__init__.py
allow_dirty = True

[bumpversion:file:./changelog.md]
search = [{current_version} (unreleased)]
replace = [{new_version} (unreleased)]
