---
name: Changelog & versions
"on":
  workflow_dispatch:
  schedule:
    # Run daily to bump versions.
    - cron: "0 6 * * *"
  push:
    branches:
      - main
    paths:
      - changelog.md
      - "**/pyproject.toml"
      - "*requirements.txt"
      - "requirements/*.txt"
      # Trigger on any workflow change to make sure version gets hard-coded everywhere.
      - .github/workflows/*.yaml
  workflow_run:
    workflows:
      - "Build & release"
    types:
      - completed
    branches:
      - main

jobs:

  changelog:
    uses: kdeldycke/workflows/.github/workflows/changelog.yaml@v5.10.4
