---
name: Labels
"on":
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

jobs:

  labels:
    uses: kdeldycke/workflows/.github/workflows/labels.yaml@v5.10.4
